@model IEnumerable<UI.WebMatricula3C2023.Models.Calificacion.Salida.DatosCalificacion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <br />
    <h2>Gestión de Calificaciones</h2>

    <div class="container-fluid">
        <br />
        <div style="width:100%; margin:0 auto;">
            <button id='btnAbrirDialogAgregarCalificacion' class="btn btn-primary" style="background-color: #1A2DF3; width:10%">Agregar</button>
            <br /><br />
            <table class="display" id="CalificacionesTabla" style="width:100%">
                <thead>
                    <tr>
                        <th>Nota Proyecto</th>
                        <th>Nota Tareas</th>
                        <th>Trabajo Cotidiano</th>
                        <th>Codigo Estudiante</th>
                        <th>Codigo Profesor</th>
                        <th>Codigo Curso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id='NotaProyectoParam'>
                                @Html.DisplayFor(modelItem => item.NotaProyecto)
                            </td>
                            <td id='NotaTareasParam'>
                                @Html.DisplayFor(modelItem => item.NotaTareas)
                            </td>
                            <td id='NotaTrabajoCotidianoParam'>
                                @Html.DisplayFor(modelItem => item.NotaTrabajoCotidiano)
                            </td>
                            <td id='CodigoEstudianteParam'>
                                @Html.DisplayFor(modelItem => item.CodigoEstudiante)
                            </td>
                            <td id='CodigoProfesorParam'>
                                @Html.DisplayFor(modelItem => item.CodigoProfesor)
                            </td>
                            <td id='CodigoCursoParam'>
                                @Html.DisplayFor(modelItem => item.CodigoCurso)
                            </td>
                            <td style="align-items:center">
                                <a name="btnEditarCalificacion" data-id="@item.Codigo" style="color: #1A2DF3"><i class="fa fa-edit"></i></a>
                                <a name="btnEliminarCalificacion" data-id="@item.Codigo" style="color: #1A2DF3"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="modalAgregarCalificacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Calificacion</h4>
                </div>
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <div>
                        <label for="exampleInputEmail1">Codigo de Calificacion:</label>
                        <input class="form-control" id="IDAgregarCalificacionCodigo" disabled placeholder="Sin asignar">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite la nota de proyecto:</label>
                        <input class="form-control" id="IDAgregarCalificacionNotaProyecto">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite la nota de tareas:</label>
                        <input class="form-control" id="IDAgregarCalificacionNotaTareas">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite la nota de trabajo cotidiano:</label>
                        <input class="form-control" id="IDAgregarCalificacionNotaTrabajoCotidiano">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el codigo de estudiante:</label>
                        <input class="form-control" id="IDAgregarCalificacionCodigoEstudiante">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el codigo de profesor:</label>
                        <input class="form-control" id="IDAgregarCalificacionCodigoProfesor">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el codigo de curso:</label>
                        <input class="form-control" id="IDAgregarCalificacionCodigoCurso">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnCancelarCalificacion' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id='btnAgregarCalificacion' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaExitosa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>Transacción realizada exitosamente</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeExitoso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaEliminarCalificacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>¿Está seguro que desea eliminar la calificacion?</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnAceptarEliminarCalificacionConfirmacion' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                    <button id='btnCancelarEliminarCalificacionConfirmacion' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="canvas-holder" style="width:40%">
            <canvas id="vistas-chart"></canvas>
        </div>
        <script>
            new Chart(document.getElementById("vistas-chart"), {
                type: 'pie',
                data: {
                    labels: @Html.Raw(ViewBag.Etiquetas),
                    datasets: [{
                        label: "Calificaciones por estado",
                        backgroundColor: @Html.Raw(ViewBag.Colores) ,
                        data: @Html.Raw(@ViewBag.Valores)
                                                }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Calificaciones por estado'
                    }
                }
            });
        </script>
    </div>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @section scripts
        {
        <script src="~/Scripts/Calificacion.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    }
</main>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>